<body>
<div class="card-group">
  <div class="card">
    <img src="images/wdbundoransouvenir.jpg" alt="tshirt image" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">T-Shirt</h5>
      <p class="card-text">Bundoran souvenir t-shirt with local designs. 100% cotton.</p>
      <p class="card-text fw-bold text-primary">€19.99</p>
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>  
  <div class="card">
    <img src="images/wdbundoranfc.jpg" class="card-img-top" alt="football scarf">
    <div class="card-body">
      <h5 class="card-title">Official Bundoran FC</h5>
      <p class="card-text">Official Bundoran Football Club scarf. Wool blend.</p>
      <p class="card-text fw-bold text-primary">€24.99</p>
       <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
  <div class="card">
    <img src="images/wdmugge.jpg" class="card-img-top" alt="mugge souvenir">
    <div class="card-body">
      <h5 class="card-title">I Love Bundoran - Mugge</h5>
      <p class="card-text">Ceramic mug with "I Love Bundoran" print. Holds 350ml.</p>
      <p class="card-text fw-bold text-primary">€19.99</p>
      <button class="btn btn-primary">Add to Cart</button>      
    </div>
  </div>
  <div class="card-group">
  <div class="card">
    <img src="images/wdmugge3.jpg" class="card-img-top" alt="football scarf">
    <div class="card-body">
      <h5 class="card-title">Houses Bundoran - Mugge</h5>
      <p class="card-text">Ceramic mug with Houses Bundoran print. Holds 350ml.</p>
      <p class="card-text fw-bold text-primary">€19.99</p>
      <button class="btn btn-primary">Add to Cart</button> 
    </div>
  </div> 
  <div class="card">
    <img src="images/wdchaveiro.jpg" class="card-img-top" alt="mugge souvenir">
    <div class="card-body">
      <h5 class="card-title">Houses Bundoran - Mugge</h5>
      <p class="card-text">Ceramic mug with Houses Bundoran print. Holds 350ml.</p>
      <p class="card-text fw-bold text-primary">€19.99</p>
      <button class="btn btn-primary">Add to Cart</button> 
    </div>
  </div>
  <div class="card">
    <img src="images/wdbundoranfc.jpg" class="card-img-top" alt="football scarf">
    <div class="card-body">
      <h5 class="card-title">Houses Bundoran - Mugge</h5>
      <p class="card-text">Ceramic mug with Houses Bundoran print. Holds 350ml.</p>
      <p class="card-text fw-bold text-primary">€19.99</p>
      <button class="btn btn-primary">Add to Cart</button> 
    </div>
  </div>  
</div>


  <!-- E-Commerce  -->
<script src="custom-js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>

</body>