<body>
  <div class="container">
    <itemscope itemtype="http://schema.org/Restaurant">
      <div class="row">

        <div class="col-12">
          <picture>
            <source srcset="images/menupic/atlantic1.jpg" media="(max-width: 576px)">
            <source srcset="images/menupic/brownie.jpg" media="(max-width: 768px)">
            <img src="images/menupic/cesar1.jpg">
          </picture>
        </div>

        <div class="col-4">
          <section class="openingHours" itemprop="openingHoursSpecification">
            <i class="fas fa-clock"></i>
            <h2>Opening Hours</h2>

            <dl class="hours-list">
              <dt>Monday to Saturday</dt>
              <dd>
                <time itemprop="openingHours" datetime="11:00">9am</time> -
                <time itemprop="openingHours" datetime="19:00">7pm</time>
              </dd>
            </dl>
          </section>
        </div>
        <div class="col-4">
          <section class="contact" id="contactUs">
            <i class="fas fa-phone"></i>
            <h2>Contact</h2>
            <p itemprop="telephone">
              <a href="tel:+3530838972466">+353 083 897 2466</a>
            </p>
            <p itemprop="email">
              <a href="mailto:bundoransoulvenir@donegal.ie">bundoransoulvenir@donegal.ie</a>
            </p>
          </section>
        </div>
        <div class="col-4">
          <address class="footer-section" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">

            <i class="fas fa-map-marker-alt"></i>
            <span>Address</span>

            <p itemprop="streetAddress">Main Street</p>
            <p>
              <span itemprop="addressLocality">Bundoran</span>,
              <span itemprop="addressRegion">Co. Donegal</span>
            </p>
            <p itemprop="postalCode">F94 XTF9</p>
            <p itemprop="addressCountry">Ireland</p>
            <a href="https://www.bing.com/maps?mepi=108%7E%7EUnknown%7EWeb_Annotation_Result&ty=18&q=blue+leaf+restaurant&ppois=54.479305267333984_-8.277853012084961_blue+leaf+restaurant_%7E&cp=54.277178%7E-8.503096&lvl=16.0&v=2&sV=1"
              itemprop="hasMap" target="_blank" rel="noopener noreferrer">View on Map</a>
          </address>
        </div>
        <nav class="social-links" aria-label="Social media links">
          <a href="https://facebook.com/bundoransoulvenir" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://instagram.com/bundoransoulvenir" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </nav>

        <aside class="copyright">
          <p>
            &copy; <span itemprop="copyrightYear">2025</span>
            <span itemprop="name">Bundoran Soulvenir</span>.
            Website by <span>Silvana Silva</span>.
          </p>
        </aside>

      </div>
  </div>

  <script src="custom-js/custom.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>


</body>

<br>