<main>
   <div class="container">
      <div class="row justify-content-center"> <!-- bootstrap row to center form -->
         <div class="col-sm col-md-4">
            <div role="alert" id="loginerror">The username or password you entered is incorrect. <a href="/login">Forgot
                  your
                  password?</a></div>
            <form name="login" id="user-login" method="get">
               <div class="form-group">
                  <label for="emailAddressID">Email address</label>
                  <input type="email" class="form-control" id="emailAddressID" name="email" value="your_email_here@email.com"
                     required>
               </div>
               <div>
                  <label for="passwordID">Password</label>
                  <input type="password" class="form-control" id="passwordID" name="password" value="12345678"
                     required>
               </div>
               <div>
                  <input type='submit' class="btn btn-primary" value="Login">
               </div>
            </form>
            <p> <a href="#">Need to Register?</a></p>

         </div>
      </div>
   </div>
</main>
  <!--  views/custom-js/custom.js   -->

{{!-- <script src="/custom-js/custom.js"></script> --}}
<script type="text/javascript" src="/custom-js/login.js"></script>

<!-- About Us ends -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
   </script>