:root{
   --goat:#E9DEC7;/*logo color*/
   --military:#2b310A;
   --military2:#4A5A2D;/*logo color*/
   --military3:#9da577;
   --peru:#0a3b6f;   
   --black:#222;
   --white:#fff;
   --light-black:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --dark-bg:rgba(0,0,0,.7);
   --border:.1rem solid #aaa;
   --box-shadow:0 .5rem 1rem rgba(1,0,0,.1);
}


html, body {
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    background: var(--military3);
}

nav ul {
    list-style: none; 
    padding-left:0;
    background: var(--military3);    
}

nav li {
    display:inline;  
    background: var(--military3);
}

.active {
    color :white;
    background-color:var(--military3);
    padding:0.5em;
    border: var(--military3);
    border-radius: 20px;
    padding: 0.rem 1.5rem;
}

@media (max-width: 992px){
    body{
        background-color: var(--military);
    }
}

@media (max-width: 768px){
    body{
        background-color: var(--military2);
    }
}

@media (max-width: 576px){
    body{
        background-color: var(--military3);
    }
}

/*
<picture>
    <source srcset="images/menupic/cesar1.jpg" media="(max-width: 576px)">
    <source srcset="images/menupic/cesar1.jpg" media="(max-width: 768px)">
<img src="images/menupic/cesar1.jpg">
</picture>
*/

